@import "tailwindcss";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
    --radius: 0.625rem;
    --background: hsl(220, 23%, 95%);
    --foreground: hsl(234, 16%, 35%);
    --card: hsl(220, 22%, 92%);
    --card-foreground: hsl(234, 16%, 35%);
    --popover: hsl(220, 22%, 92%);
    --popover-foreground: hsl(234, 16%, 35%);
    --primary: hsl(266, 85%, 58%);
    --primary-foreground: hsl(234, 16%, 35%);
    --secondary: hsl(220, 22%, 92%);
    --secondary-foreground: hsl(234, 16%, 35%);
    --muted: hsl(220, 22%, 92%);
    --muted-foreground: hsl(233, 10%, 47%);
    --accent: hsl(223, 16%, 83%);
    --accent-foreground: hsl(234, 16%, 35%);
    --destructive: oklch(0.577 0.245 27.325);
    --border: hsl(223, 16%, 83%);
    --input: oklch(0.929 0.013 255.508);
    --ring: hsl(267, 84%, 81%);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: hsl(220, 22%, 92%);
    --sidebar-foreground: hsl(234, 16%, 35%);
    --sidebar-primary: hsl(266, 85%, 58%);
    --sidebar-primary-foreground: hsl(234, 16%, 35%);
    --sidebar-accent: hsl(266, 85%, 58%, 10%);
    --sidebar-accent-foreground: hsl(266, 85%, 58%);
    --sidebar-border: hsl(223, 16%, 83%);
    --sidebar-ring: hsl(267, 84%, 81%);
}

.dark {
    --background: hsl(240, 21%, 15%);
    --foreground: hsl(226, 64%, 88%);
    --card: hsl(240, 21%, 12%);
    --card-foreground: hsl(226, 64%, 88%);
    --popover: hsl(240, 23%, 9%);
    --popover-foreground: hsl(226, 64%, 88%);
    --primary: hsl(267, 84%, 81%);
    --primary-foreground: hsl(240, 21%, 12%);
    --secondary: hsl(240, 21%, 12%);
    --secondary-foreground: hsl(226, 64%, 88%);
    --muted: hsl(240, 21%, 12%);
    --muted-foreground: hsl(228, 24%, 72%);
    --accent: hsl(237, 16%, 23%);
    --accent-foreground: hsl(226, 64%, 88%);
    --destructive: oklch(0.704 0.191 22.216);
    --border: hsl(237, 16%, 23%);
    --input: hsl(226, 64%, 88%, 15%);
    --ring: hsl(267, 84%, 81%);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: hsl(240, 21%, 12%);
    --sidebar-foreground: hsl(226, 64%, 88%);
    --sidebar-primary: hsl(267, 84%, 81%);
    --sidebar-primary-foreground: hsl(226, 64%, 88%);
    --sidebar-accent: hsl(267, 84%, 81%, 10%);
    --sidebar-accent-foreground: hsl(267, 84%, 81%);
    --sidebar-border: hsl(237, 16%, 23%);
    --sidebar-ring: hsl(267, 84%, 81%);
}

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}
